<div>
    <header class="flex">
        <h1 class="justify-center m-auto" *ngIf="trainer"><b>Hello {{trainer.username}}! Here are all you pokemons:</b></h1>
        <button class="absolute right-5" id="logout-button" routerLink="/" (click)="logout()">Log out</button>  
    </header>
    <div class="container mx-auto p-4">
        <ul class=" p-2">
             <li class="box bg-white rounded relative flex text-center border-2 m-0.5" *ngFor="let pokemon of pokemons"><div> </div>
                <div *ngFor="let pokeImg of pokemonOwned">
                    <div *ngIf="pokemon === pokeImg.name">
                        <img [src]="pokeImg.sprites.front_default" alt="Pokemon caught">  
                    </div>
                </div> 
                {{pokemon.charAt(0).toUpperCase() + pokemon.substring(1)}}
                <app-catch-button [pokemon]="pokemon"></app-catch-button>
            </li>
        </ul>
    </div>
</div>



