<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)"> 
    <label class="flex justify-center p-4" for="username">Enter your trainer name</label>
    <fieldset class="flex justify-center p-4">
        <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" 
            class="border border-slate-300 p-2 rounded" 
            placeholder="trainer name"/>
            <button type="submit" class="bg-green-500 p-2 rounded">Login</button>
        </fieldset>
    <img class="flex justify-center m-auto" src="assets/trainers_logo.png" alt="Trainers"/>
</form>
